

$bold-text: black;
$medium-text: rgb(51, 52, 56);
$light-text: rgb(89, 89, 92);

@font-face{
    src: url(public/fonts/crimson/CrimsonText-Regular.ttf);
    font-family: crimsonn;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    
    margin: 1rem;
    font-family: crimsonn;
}


// BreakPoints
// Tablet
@media (min-width: 768px){
    body {
        margin: 2rem;
        // background-color:  black;
    }
}

// Desktop
@media (min-width: 1024px) {
    // body{
    //     // Style Herre
    // }
}