

$bold-text: black;
$medium-text: rgb(51, 52, 56);
$light-text: rgb(89, 89, 92);
$task-bg: rgb(202, 202, 230);
$letter-spacing-small: 0.5px;
$letter-spacing-big: 1px;
$text-weight-small: 300;


.headers{
    // border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h5{
        font-size: 1.7rem;
        letter-spacing: $letter-spacing-small;
        word-spacing: 1px;
        color: $bold-text;

    }

    p{
        color: $medium-text;
        letter-spacing: $letter-spacing-small;
        font-weight: $text-weight-small;
        font-size: 1.3rem;

        &:hover{
            cursor: pointer;
            color: blue;
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    gap: 5rem ;
    // border: 2px solid green;
}

.taskContainerM{
    border: none;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;


    .heading{
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        align-items: center;
        margin-bottom: 1.5rem;


        span{
            padding: 0.2rem;
            border: none;
            border-radius: 50%;
            background-color: rgb(218, 218, 236);

        img{
            width: 25px;
        }
        }
        h6{
            font-size: 1.3rem;
            letter-spacing: $letter-spacing-small;
            font-weight: 600;
            color: $medium-text;
        }
    }


    .details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .texts{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;


            h5{
                color: black;
                letter-spacing: $letter-spacing-small;
                font-weight: 600;
                font-size: 1.7rem;
            }
            p{
                color: $medium-text;
                font-weight: 400;
                font-size: 1.3rem;
                letter-spacing: $letter-spacing-small;

            }
        }

        button{
            background-color: rgb(34, 35, 36);
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;

            img{
                width: 35px;

            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}